.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width: 768px) {
    .masthead {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.navbar-brand {
    width: 2%;
    height: 2%;
}

.main-title {
    color: yellow;
    margin-top: 25vh;
}

.button-view {
    text-align: center;
    background-color: transparent;
    margin-top: 20vh;
}

.btn_btn-primary_btn-lg {
    color: brown;
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.title-crud {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #252839;
}

.title-text {
    position: relative;
    font-size: 5vw;
    color: #252839;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
}

.title-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    ;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}